<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-if.html">
<link rel="import" href="../../bower_components//polymer/lib/mixins/property-effects.html">

<dom-module id="gestor-clientes">
  <template>
    <style>
      :host {
        display: block;
      }
      .flag {
        width: 10px;
        height: 570px;

      }

      .prueba {
        font-size: 28px;
        color: #1973B8;
        text-align: center;
      }

      .botonCliente {
        background-color: #1973B8;
        border: none;
        border-radius: 1px;
        color: #FFFFFF;
        font-size: 1.2rem;
        margin: 0;
        display: inline-block;
        cursor: pointer;
      }

      .table tbody tr:hover {
        background-color: gray;
        cursor: pointer;
      }

      .table tbody tr {
        background-color: #1973B8;
        color: #FFFFFF;
      }

    </style>
    <div class="container" id="clientes">
      <div class="row">
        <h1 class="col-lg-12">Gestor de Cuentas</h1>
        <button class="btn btn-danger botonCliente" on-click="obtenerCuentas" type="button" name="button">Obtener Cuentas</button>
        <button class="btn btn-info botonCliente" on-click="irFormularioCuentas" type="button" name="button">Registrar Cuentas</button>
        <button class="btn btn-info botonCliente" on-click="DesloguearCliente" type="button" name="button">Desconexión</button>
      </div><br />
      <div class="row">
        <table hidden$="{{noCargados}}" class="table table-striped">
          <tbody>
            <tr>
              <td>

              </td>
              </td>
              <td>
                Cuenta
              </td>
              <td>
                Cliente
              </td>
            </tr>
            <template is="dom-repeat" items="{{clientes}}">
              <tr>
                <td>
                  <input  type="radio" id="radios" name="radios" on-click="obtenerMovimientos" />
                </td>

                <td>
                  [[item.idcuenta]]
                </td>
                <td>
                  [[item.cliente]]
                </td>
              </tr>
            </template>
          </tbody>
        </table>

      </div> <br />
      <div class="row">
        <table  hidden$="{{noCargadosDos}}" class="table table-striped" >
          <tbody>
            <tr>

              <td>
                Id Movimiento
              </td>
              <td>
                Fecha
              </td>
              <td>
                Importe
              </td>
              <td>
                Tipo
              </td>
            </tr>
            <template  is="dom-repeat" items="{{movimientosCuenta}}">
              <tr>
                <td>
                  [[item.idmov]]
                </td>
                <td>
                  [[item.fecha]]
                </td>
                <td>
                  [[item.importe]]
                </td>
                <td>
                  [[item.tipo]]
                </td>
              </tr>
            </template>
          </tbody>
        </table>

      </div>

      <br />
    </div>
      <div class="container" id="idLogin" style="display: none;">
        <div class="row">
          <gestor-login class="col-lg-12"></gestor-login>
      </div>
    </div>
    <div class="container" id="idFormularioCuenta" style="display: none;">
      <div class="row">
        <h1 class="col-lg-12">Registro de cuentas</h1>
          <form>
            <div class="form-group">
              <label for="idcuenta"> Número de Cuenta</label><br />
              <input type="number" class="form-control" id="idcuenta"  placeholder="Número de Cuenta">
            </div>
            <div class="form-group">
              <label for="cliente">Cliente</label><br />
              <input type="number" class="form-control" id="cliente"  placeholder="Cliente">
            </div>
            <div class="form-group">
              <label for="idmov">Número Movimiento</label><br />
              <input type="number" class="form-control" id="idmov"  placeholder="Movimiento">
            </div>
            <div class="form-group">
              <label for="cliente">Fecha</label><br />
              <input type="date" class="form-control" id="fecha"  placeholder="Fecha">
            </div>
            <div class="form-group">
              <label for="cliente">Importe</label><br />
              <input type="number" class="form-control" id="importe"  placeholder="Importe">
            </div>
            <div class="form-group">
              <label for="cliente">Tipo de Movimiento</label><br />
              <input type="text" class="form-control" id="tipo"  placeholder="Tipo Movimiento">
            </div><br />
            <button type="button" class="btn btn-primary" name="button" id="anadirCuentas" on-click="anadirCuentas">Registrar cuenta</button>
          </form>
        </div>
      </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class GestorClientes extends Polymer.Element {
      static get is() { return 'gestor-clientes'; }
      static get properties() {

        return {
          clientes: {
            type: Array,
            notify: true
          },
          noCargados:{
            type: Boolean,
            value: true
          },
          noCargadosDos:{
            type: Boolean,
            value: true
          },
          respuesta:{
            type : Object
          },
          movimientos:{
            type: Array,
            notify: true
          },
          movimientosCuenta:{
            type: Array,
            notify: true
          }
        };
      }
      obtenerCuentas(){
        var url = "http://localhost:3002/cuentas";
        var request = new XMLHttpRequest();
        request.open("GET",url, false);
        request.setRequestHeader("Accept", "application/json");
        request.send();
        this.clientes = JSON.parse(request.responseText);
        console.log(this.clientes);
        this.noCargados = false;
      }

      obtenerMovimientos(){
        var i= 0;
        var h= 0;
        var url = "http://localhost:3002/cuentas";
        var request = new XMLHttpRequest();
        request.open("GET",url, false);
        request.setRequestHeader("Accept", "application/json");
        request.send();
        this.movimientos = JSON.parse(request.responseText);
        console.log(this.movimientos);
        for(i= 0; i< this.movimientos.length; i++){

            if(this.$.clientes.getElementsByTagName('input')[i].checked == true){
                this.movimientosCuenta = this.movimientos[i].listado;
                this.noCargadosDos = false;
                break;

            }
        }
        console.log(this.movimientosCuenta);
      }


      irFormularioCuentas(){
        this.$.clientes.style.display = "none";
        this.$.idFormularioCuenta.style.display = "block";
      }

      anadirCuentas(){
        var url = "http://localhost:3002/cuentas";
        var request = new XMLHttpRequest();
        request.open("POST", url, false);
        request.setRequestHeader("Accept", "application/json");
        request.setRequestHeader("Content-Type", "application/json");
        if((this.$.idcuenta.value != "" && this.$.cliente.value != "" && this.$.idmov.value != "" && this.$.fecha.value != "" && this.$.importe.value != "" && this.$.tipo.value != "")){
          var nuevaCuenta = {"idcuenta":this.$.idcuenta.value, "cliente":this.$.cliente.value, "listado":[{"idmov":this.$.idmov.value, "fecha":this.$.fecha.value, "importe":this.$.importe.value, "tipo":this.$.tipo.value}]};
          var bodyCuenta = JSON.stringify(nuevaCuenta);
          request.send(bodyCuenta);
          alert("Cuenta Registrada Correctamente");
          this.respuesta=request.responseText;
          console.log(this.respuesta);
          this.$.idFormularioCuenta.style.display = "none";
          this.$.clientes.style.display = "block";
        }else{
          alert("Debe rellenar los campos");
        }
      }

      DesloguearCliente(){
        this.$.clientes.style.display = "none";
        this.$.idLogin.style.display = "block";
      }
    }

    window.customElements.define(GestorClientes.is, GestorClientes);
  </script>
</dom-module>
