<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-if.html">
<link rel="import" href="../../bower_components//polymer/lib/mixins/property-effects.html">
<dom-module id="gestor-login">
  <template>
    <style>
      :host {
        display: block;
      }
      .flag {
        width: 10px;
        height: 570px;

      }

      .pruebaLogin {
        font-size: 40px;
        color: #1973B8;
        text-align: center;
      }

      .c-login {
        background: #FFFFFF;
        text-align: center;
        max-width: 345px;
        margin: 32px auto 0 auto;
      }

      .botonLogin {
        background-color: #1973B8;
        border: none;
        border-radius: 1px;
        color: #FFFFFF;
        font-size: 1.2rem;
        margin: 0;
        display: inline-block;
        cursor: pointer;
      }

    </style>
    <div class="container" id="campos">
      <div class="row c-login" >
        <h1 class="col-lg-12 pruebaLogin">Gestor Login</h1>
        <label>Usuario</label><br />
        <input type="text" id="usuario" value="{{valUsuario}}" placeholder="Usuario"/><br />
        <label>Contraseña</label><br />
        <input type="password" id="contra" value="{{contra}}" placeholder="Password"/><br />
        <button class="btn btn-info botonLogin" on-click="autenticacion" type="button" name="button">login</button>
        <button class="btn btn-info botonLogin" on-click="registroFormCliente" type="button" name="button">Registrarse</button>
      </div>
      <div class="row">
      </div>
    </div>
    <div class="container" id="idFormulario" style="display: none;">
      <div class="row">
        <h1 class="col-lg-12">Registro de usuarios</h1>
          <form>
            <div class="form-group">
              <label for="idCliente">Id Cliente</label><br />
              <input type="number" class="form-control" id="idCliente"  placeholder="ID Cliente">
            </div>
            <div class="form-group">
              <label for="Nombre">Nombre</label><br />
              <input type="text" class="form-control" id="nombre"  placeholder="Nombre">
            </div>
            <div class="form-group">
              <label for="Apellido">Apellido</label><br />
              <input type="text" class="form-control" id="Apellido" placeholder="Apellido">
            </div>
            <div class="form-group">
              <label for="Email">Email</label><br />
              <input type="email" class="form-control" id="Email" placeholder="Email">
            </div>
            <div class="form-group">
              <label for="Contraseña">Contraseña</label><br />
              <input type="password" class="form-control" id="Contrasenna" placeholder="Contraseña">
            </div><br />
            <button type="button" class="btn btn-primary" name="button" id="registrarUsuario" on-click="registrarUsuario">Registrar usuario</button>
          </form>
        </div>
      </div>
      <div class="container" id="idGestorClientes" style="display: none;">
        <div class="row">
          <gestor-clientes class="col-lg-12"></gestor-clientes>
      </div>
    </div>
  </template>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

  <script type="text/javascript"
        src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
      <link rel="stylesheet" type="text/css"
        href="../bower_components/bootstrap/dist/css/bootstrap.css">
  <script>

  class GestorLogin extends Polymer.Element {
    static get is() { return 'gestor-login'; }
    static get properties() {

      return {
        usuarios: {
          type: Array,
          notify: true
        },
        noCargados:{
          type: Boolean,
          value: true
        },
        respuesta:{
          type : Object
        },
        valUsuario: {
          type: String,
          notify: true
        },
        contra: {
          type: String,
          notify: true
        }
      };
    }

    autenticacion(){
      var userok = false;
      if(this.$.usuario.value !="" && this.$.contra.value !=""){
        var url = "http://localhost:3002/usuarios";
        var request = new XMLHttpRequest();
        request.open("GET",url, false);
        request.setRequestHeader("Accept", "application/json");
        var user = "";
        var pass = "";

        var i = 0;
        request.send();
        this.usuarios = JSON.parse(request.responseText);
        console.log(this.usuarios);
        for(i= 0; i< this.usuarios.length; i++){
          user = this.usuarios[i].idcliente;
          pass = this.usuarios[i].password;
          if(user.toString() == this.$.usuario.value && pass.toString() == this.$.contra.value){
            alert("logueado con exito");
            userok = true;

            this.$.campos.style.display = "none";
            this.$.idGestorClientes.style.display = "block";

            break;
          }
      }
      if (userok == false){
      alert("Datos errados o usuario no registrado");
    }
  }else{
    alert("Debe llenar los campos para poder loguearse");
  }
}

    registroFormCliente(){
      this.$.campos.style.display = "none";
      this.$.idFormulario.style.display = "block";
    }

    registrarUsuario(){
      var url = "http://localhost:3002/usuarios";
      var request = new XMLHttpRequest();
      request.open("POST",url, false);
      request.setRequestHeader("Accept", "application/json");
      request.setRequestHeader("Content-Type", "application/json");

      if((this.$.idCliente.value != "" && this.$.nombre.value != "" && this.$.Apellido.value != "" && this.$.Email.value != "" && this.$.Contrasenna.value != "")){
        var nuevoUsuario = {"idcliente":this.$.idCliente.value, "nombre":this.$.nombre.value, "apellido":this.$.Apellido.value, "email":this.$.Email.value, "password":this.$.Contrasenna.value};
        var bodyUsuario = JSON.stringify(nuevoUsuario);
        request.send(bodyUsuario);
        alert("Usuario Registrado Correctamente");
        this.respuesta=request.responseText;
        console.log(this.respuesta);
        this.$.idFormulario.style.display = "none";
        this.$.campos.style.display = "block";
      }else{
        alert("Debe rellenar los campos");
      }

    }

    }


    window.customElements.define(GestorLogin.is, GestorLogin);
//  customElements.define('sample-element', SampleElement);
  </script>
</dom-module>
